In [1]:
USE sql_recap;

SELECT COUNT(*) AS "customers count" FROM "dbo"."customers";
SELECT COUNT(*) AS "orders count" FROM "dbo"."orders";
SELECT COUNT(*) AS "order_details count" FROM "dbo"."order_details";
SELECT COUNT(*) AS "products count" FROM "dbo"."products";

customers count
500

orders count
3000

order_details count
8981

products count
200