- CTE - Common Table Expressions

- Stored Procedure

- Recursion

In [ ]:
WITH CTE_1 (iteration) AS(
    --Base case
    SELECT 1 AS iteration

    UNION ALL

    --Recursive case
    SELECT iteration +1
    FROM CTE_1
    WHERE iteration < 3 -- Stopping condition
)

SELECT iteration
FROM CTE_1
ORDER BY iteration;