# Aggregating and filtering the aggregations

In [1]:
select year, total_count
from(
SELECT 
    country,
    YEAR(signup_date) as year, 
    COUNT(*) AS total_count
FROM 
    [sql_recap].[dbo].[customers] as c
GROUP BY 
    country, YEAR(signup_date)
HAVING
    country = 'Hungary'  ) as sub
  ;  


--teszt komment
--m√©ggegy teszt komment
-- teszt komment 3   
-- kommetn 4 
-- komment 5

year,total_count
2020,20
2021,10
2022,16
2023,19
2024,17